h1 {
    border-bottom: dotted 1px; 
    padding-bottom: 1%;
    width: 70%;
}

body {
    margin-left: 10%;
}

ul {
    border-bottom: dotted 1px;
    padding-bottom: 1%;
    width: 70%;
}

li {
    padding-bottom: 1em;
    font-size: 110%;
}

li button {
    margin-left: 15px;
}